.products {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    color: var(--primary-color);
}

.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-width: calc(100% / 6 - 5 * 1.5rem);
    box-sizing: border-box;
    overflow: hidden;
}

.card .upperSection {
    overflow: hidden;
}

.card img {
    width: 100%;
    transition: .5s;
    transform: scale(1);
    opacity: 1;
}

.card img:hover {
    width: 100%;
    opacity: .3;
    transform: scale(1.5);
}

.lowerSection {
    padding: 1.5rem;
}

.card .lowerSection p {
    margin: 0;
}

.lowerSection button {
    all: unset;
    cursor: pointer;
    transition: .3s;
}

.lowerSection button:hover {
    color: var(--tertiary-color);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .card {
        width: calc(100% / 2 - 1 * 1.5rem);
    }    
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .card {
        width: calc(100% / 3 - 2 * 1.5rem);
    }    
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card {
        width: calc(100% / 4 - 3 * 1.5rem);
    }    
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .card {
        width: calc(100% / 5 - 4 * 1.5rem);
    }    
}