@import 'assets/styles/_mixins.scss';

.ordersBlock {
    min-height: 39vh;

    .header {
        display: flex;
        gap: 1.5rem;
        justify-content: space-between;
        align-items: center;

        @include sm-max {
            flex-direction: column;
        }

        h2 {
            @include sm-max {
                margin-bottom: 0;
            }
        }

        button {
            all: unset;
            padding: 0.5rem;
            color: #FFF;
            background-color: var(--tertiary-color);
            border-radius: 4px;
            cursor: pointer;
            max-width: 500px;
            box-sizing: border-box;
            transition: .2s;

            @include sm-max {
                margin-bottom: 2rem;
                width: 100%;
                max-width: 500px;
                text-align: center;
            }
            
            @media (hover: hover) {
                &:hover {
                    background-color: var(--secondary-color);
                }
            }
        }
    }
    
    .ordersList {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        .order {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            align-items: start;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            padding: 1rem;

            @include sm-max {
               justify-content: center;
               gap: 1rem;

                .removeOrderCol {
                    order: 2;
                }
                .imgCol {
                    order: 1;
                }
                .detailsCol {
                    order: 3;
                }
                .countCol {
                    order: 4;
                }

            }
            
            .removeOrderCol {

                button {
                    all: unset;
                    margin: auto;
                    padding: .5rem;
                    cursor: pointer;
                    color: var(--btn-color);
                    transition: .2s;
                    
                    @media (hover: hover) {
                        &:hover {
                            color: var(--btn-hover-color);
                        }
                    }
                }
            }


            .detailsCol {
                color: var(--primary-color);
                min-width: 200px;

                .name {
                    margin-top: 0;
                    margin-bottom: 1rem;
                    font-size: 1.5rem;
                }

                .characteristics {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    
                    & > div {
                        display: flex;
                        flex-direction: column;
                        gap: .25rem;
                    }
                }
            }

            .imgCol {
                max-width: 200px;
                
                img {
                    box-shadow: var(--lighter-box-shadow);
                    max-height: 138px;

                    @include sm-max {
                        max-height: unset;
                        width: 100%;
                    }
                }
            }

            .countCol {
                display: flex;
                align-items: center;
                border-radius: 8px;
                gap: .5rem;
                background-color: var(--btn-background-color);
                box-shadow: var(--lighter-box-shadow);
                
                button {
                    all: unset;
                    padding: .5rem;
                    cursor: pointer;
                    color: var(--btn-color);
                    transition: .2s;
                    
                    @media (hover: hover) {
                        &:hover {
                            color: var(--btn-hover-color);
                            background-color: var(--btn-hover-background-color);
                        }
                    }
                }

                * {
                    vertical-align: middle;
                }
                
                input {
                    padding: .5rem;
                    font-size: 1rem;
                    border: 2px solid transparent;
                    background-color: transparent;
                    color: var(--btn-hover-color);
                    width: 60px;
                    outline: none;

                    /* Chrome, Safari, Edge, Opera */
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    /* Firefox */
                    &[type=number] {
                        -moz-appearance: textfield;
                    }
                }
            }

            .detailsCol {
                max-width: 50%;

                .name {
                    text-align: center;
                }

                @include sm-max {
                    width: 100%;
                    max-width: unset;
                }
            }
        }
    }

    .orderBtn {
        all: unset;
        display: block;
        text-align: center;
        padding: 0.5rem;
        color: #FFF;
        background-color: var(--tertiary-color);
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        max-width: 500px;
        margin: 2rem auto 0 auto;
        box-sizing: border-box;
        transition: .2s;

        @media (hover: hover) {
            &:hover {
                background-color: var(--secondary-color);
            }
        }
    }

}

.finalOrder {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    width: 80%;
    max-width: 1200px;
    height: fit-content;
    box-shadow: var(--lighter-box-shadow);
    padding: 2rem;

    @include md-max {
        width: 90%;
        padding: 1rem;
    }
}