.products {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .product {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;

        & > div {
            width: calc((100% - 4rem) / 3);
            // min-width: 300px;
            box-sizing: border-box;
        }

        .imgBlock {

            img {
                width: 100%;
            }
        }
    }
}