@import 'assets/styles/_mixins.scss';

.content {
    position: relative;
    top: 28vh;
    
    .currentPageContent {
        min-height: 100vh;
        padding: 2rem;

        @include sm-max {
            padding: 1rem;
        }
    }
}