@import 'assets/styles/_mixins.scss';

.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    height: 25%;
    width: 100%;
    background-color: var(--tertiary-color);
    
    .categoryBlock {
        height: 100%;
        position: relative;

        @include sm-min {
            padding-left: .5rem;
            padding-right: .5rem;
        }
        
        @include sm-max {
            padding-left: .25rem;
            padding-right: .25rem;
        }

        @include md-max {
            &:nth-of-type(1) .subCategories {
                left: 0;
                transform: none;
            }
            &:nth-of-type(3) .subCategories {
                right: 0;
                left: auto;
                transform: none;
            }
        }

        & > .category {
            height: 100%;
            vertical-align: middle;
            color: var(--primary-color);
            box-sizing: border-box;
            display: flex;
            align-items: center;
            color: #fff;
            text-decoration: none;

            // @media (hover: hover) {
                &:hover {
                    & + .subCategories {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            // }
        }

        .subCategories {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            top: 100%;
            left: 50%;
            display: flex;
            flex-direction: column;
            align-items: start;
            transform: translateX(-50%);
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            transition: .3s;
            min-width: 300px;

            // @media (hover: hover) {
                &:hover {
                    opacity: 1;
                    visibility: visible;
                }
            // }

            .subCategory {
                text-decoration: none;
                color: var(--primary-color);
                padding: .5rem;
                width: 100%;
                text-align: left;
                box-sizing: border-box;
                transition: opacity .1s;

                // @media (hover: hover) {
                    &:hover {
                        background-color: var(--tertiary-color);
                        color: #fff;
                    }
                // }
            }
        }
    }
}