@import 'assets/styles/_mixins.scss';

.about {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .section {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        @include sm-max {
            font-size: .9rem;
            flex-direction: column;
            gap: 1rem;
        }
        
        &.centered {
            width: 60%;
            margin: auto;

            img {
                width: 100%;
            }

            .info {
                width: 100%;
            }
            
        }

        &.right {
            @include sm-min {
                flex-direction: row-reverse;
            }
        }

        &.right,
        &.left {

            img {
                
                @include lg-min {
                    width: 30%;
                }

                @include lg-max {
                    width: 40%;
                }

                @include sm-max {
                    width: 100%;
                    max-width: 300px;
                }
            }
            .info {
                
                @include lg-min {
                    width: calc(70% - 2rem);
                }
                
                @include lg-max {
                    width: calc(60% - 2rem);
                }

                @include sm-max {
                    width: 100%;
                    max-width: 300px;
                }
            }
        }
    }
}