.about {
    color: var(--primary-color);
    
    p {
        margin: 0;
    }
    a {
        color: var(--primary-color);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: .75rem;
        transition: .3s;

        @media (hover: hover) {
            &:hover {
                color: var(--secondary-color);
            }
        }
    }
    
    .initialInfo,
    .linkItems {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        margin-bottom: .75rem;
    }
    
    .iconItems {
        display: flex;
        gap: .75rem;
    }
}