@import 'assets/styles/_mixins.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 12px;
    height: 28vh;
    box-sizing: border-box;

    @include sm-max {
        height: 24vh;
    }
}
