@import 'assets/styles/_mixins.scss';

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
    font-size: 1rem;
    box-shadow: var(--darker-box-shadow);
    height: 28vh;
    box-sizing: border-box;

    @media (orientation: landscape) and (hover: none) {
        & {
            height: 40vh;
        }
    }
}
