.footer {
    color: var(--primary-color);
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 12px;
}

.upperBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

@media only screen and (max-width: 600px) {
    .upperBlock {
        gap: 16px;
    }
}

.linkItems {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.logo img {
    display: block;
    width: 190px;
}

.linkItems a {
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .75rem;
    transition: .3s;
}

@media (hover: hover) {
    .linkItems a:hover {
        color: var(--secondary-color);
    }
}

.iconItems {
    display: flex;
    gap: .75rem;
}

@media screen and (max-width: 660px) {
    .logo {
        display: none;
    }
}