@import 'assets/styles/_mixins.scss';

.testimonials {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .testimonial {
        box-sizing: border-box;
        box-shadow: var(--lighter-box-shadow);
        padding: 1rem;

        @include xl-min {
            width: calc((100% - 2rem) / 3);
        }
        @include lg-xl {
            width: calc((100% - 1rem) / 2);
        }
        @include md-max {
            width: 100%;
        }
    
        img {
            width: 100%;
        }
    }
}
