@import 'assets/styles/_mixins.scss';

.container {
    color: var(--primary-color);
    .closeBtn {
        all: unset;
        background-color: transparent;
        cursor: pointer;
        float: right;
        color: var(--btn-color);
        transition: .2s;
        
        @media (hover: hover) {
            &:hover {
                color: var(--btn-hover-color);
            }
        }
    }

    .orderDetailsForm {
        form {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            .invalid input,
            .invalid textarea {
                border-color: red;
            }

            & > div:nth-child(-n+3) {
                
                @include md-min {
                    width: calc(100% / 3 - 2rem / 3);
                }
                @include md-max {
                    width: 100%;
                }
                
            }
            
            & > div:nth-last-of-type(2) {
                width: 100%;
            }

            & > div:last-of-type {
                width: 100%;
            }

            input {
                width: 100%;
            }

            input,
            textarea {
                margin-top: .2rem;
                transition: .2s;
                box-sizing: border-box;
                padding: .5rem;
                border-radius: 4px;
                border: 1px solid lightgray;

                &:focus-within {
                    outline: initial;
                    border: 1px solid var(--tertiary-color);
                }
            }

            textarea {
                resize: none;
            }
    
            button {
                all: unset;
                display: block;
                text-align: center;
                padding: .5rem;
                color: #FFF;
                margin: auto;
                background-color: var(--tertiary-color);
                border-radius: 4px;
                cursor: pointer;
                transition: .3s;
                width: 100%;
                max-width: 500px;
                box-sizing: border-box;

                @media (hover: hover) {
                    &:hover {
                        background-color: var(--secondary-color);
                    }
                }
            }                

        }
    }
}

.successBlock {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--tertiary-color);
}