@import 'assets/styles/_mixins.scss';

.navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    
    &.home {
        height: 25%;
    }
    
    &.order {
        height: 50%;
    }

    @include sm-max {
        gap: .25rem;
    }

    .orderIcon {    
        position: relative;    

        &.animating {
            color: var(--secondary-color);

            .badge {
                @keyframes circleScale {
                    0% {transform: scale(1)  }
                    50% { transform: scale(.7) }
                  100% { transform: scale(1) }
                }
                animation: circleScale .5s infinite;
            }
        }

        .badge {
            color: inherit;
            position: absolute;
            width: 20px;
            height: 20px;
            right: -18px;
            top: -10px;
            line-height: 1.2;
            font-weight: bold;

    
            @include sm-max {
                font-size: .7rem;
            }
        }
    }

    .link {
        text-decoration: none;
        color: var(--primary-color);
        transition: .3s;
        vertical-align: middle;
        cursor: pointer;
        
        @include sm-max {
            padding: .5rem;
        }

        &.hideOnMobile {
            @include sm-max {
                display: none;
            }
        }


        svg {
            height: 100%;
            vertical-align: middle;
        }

        @media (hover: hover) {
            &:hover,
            &.active {
                color: var(--secondary-color);
            }
        }
    }
}